body {

font-family: 'Gentium Book Basic', serif;
font-size: 16px;
margin-top: 7em;
background: url(../image/background/ep_naturalblack.png);
}
[class*="col-"],
footer {
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
}
.font-titre {
	font-size: 3em;
	color: white;
}
.border {
	border-radius: 15px;
	border-bottom: 2px solid black;
}
.carousel .item {
	width: 100%;
	height: auto;
}
.carousel img {
	height: auto;
	width: 100%;
	max-height: 400px;
	min-height: 400px;
	max-width: 400px;
	min-width: 400px;
}