body {

font-family: 'Gentium Book Basic', serif;
font-size: 16px;
background: url(../image/ep_naturalblack.png);
margin-top: 7em;

}

h1{

	color :white;
}

h2 {

font-size: 40px;

}

.row [class^="col-"] {
    
    
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

.espace-navbar {

padding-bottom: 70px;
}

.container {
margin: 20px auto 20px auto;
padding: 0px 15px 0px 15px;
}

.image-loup-intro {

padding: 10px 10px 10px 0px;
border-radius: 6%;
}

.intro  {
color :white;
/*margin:5px;
padding: 5px;
text-align:justify;*/

}